[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
GenericName=Integrated development environment
Comment=Launch PyCharm 2020.3.2 IDE.
Exec=pycharm %U
Icon=/opt/pycharm-community-2020.3.2/bin/pycharm.svg
Path=
Terminal=false
StartupNotify=false
Categories=Development;IDE;GTK;
