[Desktop Entry]
Version=1.0
Type=Application
Name=Visual Studio Code
Comment=Code Editing. Redefined.
Exec=code --user-data-dir ~ --unity-launch %F
Icon=code
Path=
Terminal=false
StartupNotify=true
