[Desktop Entry]
Version=1.0
Type=Application
Name=Adobe Reader 9
Comment=Adobe Reader 9
Exec=acroread
Icon=AdobeReader9
Path=
Terminal=false
StartupNotify=false
