[Desktop Entry]
Version=1.0
Type=Application
Name=Kile
Comment=(La)TeX development environment
Exec=kile %U
Icon=kile
Path=
Terminal=false
StartupNotify=false
