[Desktop Entry]
Version=1.0
Type=Application
Name=LibreOffice
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Exec=libreoffice %U
Icon=libreoffice-startcenter
Path=
Terminal=false
StartupNotify=true
